@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300;400&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: #1b232f;  
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}
h1,h2,a{
    color: #DDE6ED;
}
p{
    color:#9DB2BF;
}
a {
    text-decoration:none;
    color:#9b70f2;
    font-weight: 900;
    font-size: 16px;
}
a:hover {
    color: #0A2540;
}
.container{
    width: 700px;
    margin: 10px auto;
}

.card-white{
    background: #283d4d ;
    padding: 40px;
    transition: box-shadow ease-in 0.3s;
    border-radius: 4px;
    margin: 20px 0px;
    text-align:center;
}
.card-white:hover{
    box-shadow: 0px 10px 20px rgba(157,178,191, 0.1);
    
}
.img-circle{
    border-radius:50%;
    transition:border-radius,width ease 0.5s;
}
.img-circle:hover{
    border-radius:0;
    width:300px;
}
.btn-purple{
    background-color: #9b70f2;
    color:white;
    padding:10px 20px;
    border-radius: 4px;
}
.btn-purple:hover{
    background-color: black;
    color:white;
}
.list-inline{
    list-style: none;
    padding-left: 0;
}
.list-inline > li{
    display:inline;
    padding: 0px 20px;
}
.list-inline i{
    color: grey;
    font-size:50px;
    /* color:rgb(230,230,230); */
}
.list-inline i:hover{
    color:black;
}
#profile p{
    margin-bottom: 40px;
}

@media (max-width: 960px) {
    /* Para una pantalla < 960px, se leerá este CSS */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* Para una pantalla < 720px, se leerá este CSS */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* Para una pantalla < 540px, se leerá este CSS */
    .container {
      width: 300px;
    }
  }